---
layout: layout.liquid
title: 11ty Boilerplate
---

<h1>Welcome <strong>Home</strong></h1>
<h2>This is where you can find the Blog of the Stars, the first ever blog ever.</h2>
<p>Aliens, ghouls, rats, and cats. There is no racism in outer space. Join us on a journey of self discovery as we discovery ourselves on this journey.
Somebody once told me that the world was gonna roll me. I was then ran over by a bus filled with children. In the hospital, they injected me with tiger blood
and the Northern Lights.</p>
<img alt="pine" src="/images/pine.png" width="50" />

{% twitter_user 'Bob' 'bobbystink' %}