<nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About the boilerplate">About</a></li>
      <li><a href="/blog1/" title="About the boilerplate">Blog 2/1</a></li>
      <li><a href="/blog2/" title="About the boilerplate">Blog 2/2</a></li>
    </ul>
  </nav>