body {
    font-family: Helvetica, sans-serif;
    color: #EAE8FF;
    background: #000000;
    padding: 0 40px;
    text-align: center;
}

nav {
    margin: 25px auto 0 auto;
    width: 400px;
    border-radius: 25px;
    background: linear-gradient(45deg, rgb(195, 34, 168) 0%, rgb(21, 164, 221) 100%);
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style-type: none;
    margin: 0;
}

nav ul li a {
    display: inline-block;
    padding: 20px;
    color: #EAE8FF;
    text-decoration: none;
    font-size: 1.2em;
}

h1 {
    font-size: 3em;
    letter-spacing: -2px;
}

h1 strong {
    background: rgb(34,193,195);
    background: linear-gradient(45deg, rgb(195, 34, 168) 0%, rgb(21, 164, 221) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

h2{
    font-size: 2em;
}

img.about {
    opacity: 0.5;
}

p {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

div{
    font-size: 150%;
    color:rgb(21, 164, 221);
}